* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('images/bg-desktop.svg');
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 100%);
}

header {
    width: 80%;
    margin-top: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 450px;
}

.content h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.content button {
    width: 200px;
    height: 50px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(257, 40%, 49%);
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content button:hover {
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%);
}

.social-icons {
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin: 50px 10px;
}

.social-icons ion-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    color: hsl(0, 0%, 100%);
}

.social-icons ion-icon:hover {
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}

.attribution { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(0, 0%, 100%); 
}

@media screen and (max-width: 768px) {
    body {
        background-image: url('./images/bg-mobile.svg');
    }

    header {
        width: 90%;
    }

    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main img {
        width: 90%;
    }

    .content {
        margin-left: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .content h1 {
        font-size: 30px;
    }

    .content p {
        font-size: 16px;
    }

    .content button {
        width: 150px;
        height: 40px;
        font-size: 16px;
    }

    .social-icons {
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    
}